{% extends 'base/base.html' %}
{% load static %}



 {% block content %}
            <div class="col-4 ">

                <hgroup>
                    <h4>Verify It's You !!</h4>
                    {% if error %}
                    <p style="color:red;">{{ error }}</p>
                    {% endif %}
                </hgroup>

                <div class="card mt-5">
                    <div class="card-body">
                        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <button type="submit" id="sendlogin" class="btn btn-primary">login !</button>
                            <p><a href="{% url 'signup' %}">create an account </a> </p>
                        </form>
                    </div>
                </div>
            </div>
 {% endblock %}


